@import "tailwindcss";

@theme {
  --color-primary: #0b6d4b;
  --color-primary-hover: #075c3f;
  --color-primary-light: #e6f5ef;
  --color-secondary: #0f172a;
  
  --animate-fade-in: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(8px); }
  to { opacity: 1; transform: translateY(0); }
}

body {
  background-color: #fcfcfc;
  font-family: 'Inter', sans-serif;
}
